<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
</head>
<body>
    <div id="nav">
        <ul>
            <li>
                <form action="/" method="get">
                    <label for="input">search:</label>
                        <input type="search" id="input" name="q" placeholder="Enter search terms..." />
                    <button>Search</button>
                </form>
            </li>
            <li><a href="index.html">Home</a></li>
            <li><a href="./template/library.html">Library</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>

    <h1>Library</h1>
    <p>
        Welcome to the library! <br />
        Here you can find a collection of resources and materials to help you with your learning journey. <br />
        Browse through our categories and discover new content to enhance your knowledge and skills. <br />
    </p>
    <section id="my_activity">
        <h2>My Activity</h2>
        <p>This is where you can track your learning progress and view your recent activities.</p>
    </section>

    <section id="collection">
        <div class="card">
            <img src="" alt="content image">
            <h3>Content Title</h3>
            <p>Content description goes here. This is a brief overview of the content.</p
        </div>

        <div class="card">
            <img src="" alt="content image">
            <h3>Content Title</h3>
            <p>Content description goes here. This is a brief overview of the content.</p
        </div>

        <div class="card">
            <img src="" alt="content image">
            <h3>Content Title</h3>
            <p>Content description goes here. This is a brief overview of the content.</p
        </div>
    </section>